<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
]>
<root id="-1">
  <home id="1147" key="aedc478d-3acf-4dae-a88a-77fc10e897da" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-27T16:59:00" updateDate="2017-12-28T11:29:59" nodeName="Home" urlName="home" path="-1,1147" isDoc="" nodeType="1145" creatorName="Vincent Ambrose" writerName="Vincent Ambrose" writerID="0" template="1064" nodeTypeAlias="home" isPublished="true">
    <sentence><![CDATA[hello]]></sentence>
    <charming><![CDATA[kallan]]></charming>
  </home>
  <contentBase id="1151" key="6fed3cb2-f4b2-4cf1-aedf-3fe93a09b8ab" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-12-28T11:05:42" updateDate="2017-12-28T11:29:41" nodeName="sentence" urlName="sentence" path="-1,1151" isDoc="" nodeType="1091" creatorName="Vincent Ambrose" writerName="Vincent Ambrose" writerID="0" template="0" nodeTypeAlias="contentBase" isPublished="true">
    <charming><![CDATA[hello]]></charming>
    <sentence><![CDATA[kallan]]></sentence>
  </contentBase>
  <contentBase id="1152" key="1dcc8d24-2aee-4ad1-b7f6-d01d7c250ba3" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-12-28T11:07:35" updateDate="2017-12-28T11:28:55" nodeName="charming" urlName="charming" path="-1,1152" isDoc="" nodeType="1091" creatorName="Vincent Ambrose" writerName="Vincent Ambrose" writerID="0" template="0" nodeTypeAlias="contentBase" isPublished="true" />
</root>